* {
  font-family: 'Nunito Sans';
}

.topbar .image-logo {
  width: 110px;
  height: 70px;
  vertical-align: middle;
}

.topbar .image-small-logo {
  width: 55px;
  height: 30px;
  vertical-align: middle;
}

.topbar .topbar-left {
  background: #003D67;
}

.navbar-custom {
  background-color: #ABCCE5;
}

.button-menu-mobile {
  background-color: #ABCCE5;
}

.app-search .form-control {
  background-color: #92B1CC;
  border: 1px solid #92B1CC;
}

.app-search .form-control:focus {
  background-color: #11375A;
}

.side-menu {
  background-color: #003D67;
}

#sidebar-menu ul li a {
  color: #ABCCE5;
}

#sidebar-menu ul li a.active,
#sidebar-menu ul li a:hover {
  background-color: #11375A;
}

.recap-box > .row > div:nth-child(2) {
  text-align: right;
}

.recap-box > .row > div:nth-child(2) i {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-right: 1rem;
}

.recap-icon {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  background: #f7f7f7;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

form .form-group .fileupload .box-image {
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .form-group .fileupload .box-image i {
  height: 500px;
  padding-top: 240px;
}

form .form-group .fileupload .btn-file,
form .form-group .fileupload .btn-remove {
  width: 100%;
  margin-top: 20px;
}

form .form-group label {
  color: #686f7a;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
}

form .form-group input,
form .form-group textarea,
form .form-group select {
  font-size: 15px;
}

form .form-group input::-webkit-input-placeholder {
  color: #CCCCCC;
}

form .form-group input::-moz-placeholder {
  color: #CCCCCC;
}

form .form-group input::-ms-input-placeholder {
  color: #CCCCCC;
}

form .form-group input::placeholder {
  color: #CCCCCC;
}

form .form-group textarea {
  min-height: 250px;
  height: calc(100% - 95px);
}

form .form-group .switchery {
  margin-left: 10px;
  margin-right: 10px;
}

form .mapModal {
  width: 100%;
  height: 50vh;
}

form .setTime {
  display: none;
}

form .setTime .hideHours {
  display: none;
}

form .setTime.keep_open {
  display: table;
}

form .box-hours {
  margin-top: 10px;
  margin-right: 50px;
}

form .box-hours .input-group label {
  padding-top: 3px;
  margin-right: 10px;
}

form .box-hours .input-group input {
  width: 100px;
  display: inline;
}

form .box-days {
  height: 40px;
  margin-right: 15px;
  margin-bottom: 0;
}

form .list-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .list-images figure {
  width: 110px;
  height: 110px;
  margin: 1rem;
  border: 1px solid black;
  padding: 5px;
}

form .list-images .delete-image {
  color: red;
  position: absolute;
  font-size: 24px;
  margin-top: -15px;
  cursor: pointer;
}

form .list-images .btn-add-image {
  width: 110px;
  height: 110px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

form .list-images .btn-add-image span {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

form .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #003D67;
  color: white;
}

.pac-container {
  z-index: 1100;
}

.table .thumbnail-list {
  width: 50px;
}

.table .actions a {
  margin: 0 10px;
}

figure img {
  width: 100%;
}

.edit-view {
  font-size: 15px;
}

.edit-view .fa-edit {
  color: inherit;
  vertical-align: top;
}

.btn-group-xl > .btn,
.btn-xl {
  padding: 27px 35px !important;
  font-size: 18px;
}

.modal-full {
  width: 90vw !important;
  min-height: 90vh !important;
  max-width: 1440px;
}

.modal-full .modal-content {
  min-height: 90%;
}

.modal-footer .btn-block + .btn-block {
  margin-top: 0;
}

.media-container {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100%;
}

.media-container-header {
  background: white;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.media-container-body {
  background: white;
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
  height: calc(100% - 250px);
  max-height: 700px;
  overflow: auto;
}

.media-container-body figure {
  text-align: center;
  margin: 10px 5px;
}

.media-container-body figure .view-file-container {
  height: 80px;
}

.media-container-body figure img {
  border: 2px solid #ABCCE5;
  padding: 5px;
  max-width: 240px;
}

.media-container-body figure img:hover {
  border: 2px solid #ABCCE5;
  cursor: pointer;
  padding: 3px;
}

.media-container-body figure img.active {
  border: 2px solid #003D67;
  padding: 3px;
}

.media-container-body figure label {
  display: block;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-container-side {
  background: white;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  height: calc(100% - 250px);
}

.media-container-side .preview-image {
  display: none;
}

.media-container-footer {
  background: white;
  border-top: 1px solid #003D67;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  height: 100px;
}

.add-image-container,
.edit-image-container {
  display: none;
}

.container-sections .section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-sections .section-header .title-section {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.container-sections .section-header .actions-section {
  margin-left: auto;
}

.container-sections .section-header .actions-section i {
  font-size: 1.2rem;
  margin-left: 10px;
}

.container-sections .section-header .actions-section .edit-section,
.container-sections .section-header .actions-section .remove-section {
  cursor: pointer;
}

.container-sections .section-header .actions-section .move-section {
  cursor: move;
}

.container-plate-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  margin-bottom: 30px;
}

.container-plate-preview img {
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}

.container-plate-preview figure {
  width: 100px;
  text-align: center;
  margin: 10px;
}

.container-plate-preview figure i {
  background: #eee;
  height: 90px;
  width: 90px;
  padding-top: 30px;
  border-radius: 5px;
}

.container-plate-preview .plate-preview-text {
  margin: 10px;
  width: 100%;
}

.container-plate-preview .plate-preview-text h4 {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.container-plate-preview .plate-preview-text p {
  font-size: 1rem;
  font-weight: normal;
  color: #CCCCCC;
  margin-bottom: 0;
}

.container-plate-preview .plate-preview-price {
  margin: 15px;
  font-size: 1.4rem;
  width: 150px;
}

.container-plate-preview .plate-preview-actions {
  background-color: #CCCCCC;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-plate-preview .plate-preview-actions .plate-action-icon {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  font-size: 17px;
}

.container-plate-preview .plate-preview-actions .plate-action-icon i {
  margin: 20px;
  color: #FFFFFF;
}

.container-plate-preview .plate-preview-actions .plate-move {
  cursor: move;
}

.container-plate-preview .plate-preview-actions .plate-edit {
  cursor: pointer;
}

.select-product {
  cursor: pointer;
  border: 1px solid #ABCCE5;
  margin: 10px;
  color: #ccc;
}

.select-product .plate-preview-text {
  margin: 0;
  padding-bottom: 10px;
}

.select-product input {
  opacity: 0;
}

.select-product p {
  color: inherit;
}

.select-product h5 {
  color: inherit;
}

.select-product.selected {
  border: 1px solid #11375A;
  background-color: #ABCCE5;
  color: #11375A;
}

.select-product.selected p {
  color: inherit;
}

.select-product.selected h5 {
  color: inherit;
}

