
$base-blue-color: #003D67;
$base-blue-dark-color: #11375A;
$base-blue-light-color: #ABCCE5;
$base-blue-dark-light-color: #92B1CC;
* {
  font-family: 'Nunito Sans';
}
.topbar {

  .image-logo {
    width: 110px;
    height: 70px;
    vertical-align: middle;
  }
  .image-small-logo {
    width: 55px;
    height: 30px;
    vertical-align: middle;
  }

  .topbar-left{
    background: #003D67;
  }
}

.navbar-custom {
  background-color: $base-blue-light-color;
}

.button-menu-mobile {
  background-color: $base-blue-light-color;
}

.app-search {
    .form-control {
        background-color: $base-blue-dark-light-color;
        border: 1px solid $base-blue-dark-light-color;
    }

    .form-control:focus {
      background-color: $base-blue-dark-color;
    }
}

.side-menu {
  background-color: $base-blue-color;
}

#sidebar-menu {

  ul {
    li {
      a {
        color: $base-blue-light-color;
      }
      a.active, a:hover {
          background-color: $base-blue-dark-color;
      }
    }
  }
}


// CUSTOM


.recap-box{
  
}

.recap-box > .row > div:nth-child(2){
  text-align: right;
}
.recap-box > .row > div:nth-child(2) i{
  font-size: 1.5rem;
  line-height: 1.5;
  margin-right: 1rem;
}

.recap-icon{
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  background: #f7f7f7;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}



// table last orders
#table-last-orders{
  #datatable{
    tr{
      td{
        position: relative;
        padding-left: 1.5rem;
        line-height: 1.3;

        &::before{
          content: "";
          position: absolute;
          left: 0;
          width: 1rem;
          height: 1rem;
          background-size: contain;
        }

        &:nth-child(1)::before{
          background-image: '';
        }
        &:nth-child(2)::before{
          background-image: url(/img/pmu_icon_clock.png);
        }
        &:nth-child(3)::before{
          background-image: url(/img/pmu_icon_ticket.png);
        }
        &:nth-child(4)::before{
          background-image: url(/img/pmu_icon_basket.png);
        }
      }
    }
  }
}