@media only screen and (max-width: 992px) {

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.container-fluid {
  padding: 0 5%;
}


.content {

  &-text {

    p {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }

    .btn-pmu {
      margin: 20px 0;
    }



  }

  &-offers{
    .offers {
        flex-direction: column;

        &-box {
          height: 400px;
          padding: 20px;

          figure {
              font-size: 4rem;
          }
          h4 {
            font-size: 1.3rem;
            line-height: 1.7rem;
            height: 70px;
          }

          p {
            font-size: 1rem;
            line-height: 1.4rem;
          }
        }

    }
  }

}

.contact {
    p {
      font-size: 0.8rem;
    }

    .form-checkbox label:after {
      width: 16px;
    }

    .form-check-label {
      font-size: 0.5rem;
    }

    #form-restaurant-success {
      height: 200px;
    }
}


.btn-pmu {
    font-size: 1.2rem;
    height: 45px;
}

}

@media only screen and (max-width: 767px) {


  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .show-desktop {
      display: none;
  }

  .show-mobile {
      display: block;
  }

  .content {
    &-show-case {
      order: 2;

      figure {
        padding-bottom: 370px;
      }
    }

      &-text {
        padding-bottom: 30px;
      }
  }

  .contact {
    .form-checkbox {
      margin: 10px;
    }
  }


  footer {

      .links {
          margin-top: 20px;
          margin-bottom: 0;
          flex-direction: column;

          li {
            text-align: left;
          }
      }
  }


}
