@media only screen and (min-width: 1920px) {

h2 {
  font-size: 4.5rem;
  line-height: 5.5rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.5rem;

}

.container-fluid {
  padding: 0 5%;
}


.content {

  &-text {
    padding-bottom: 30px;
    p {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    .btn-pmu {
      margin: 20px 0;
    }



  }

  &-offers{
    .offers {
        flex-direction: column;

        &-box {
          height: 400px;
          padding: 20px;

          figure {
              font-size: 4rem;
          }
          h4 {
            font-size: 1.3rem;
            line-height: 1.7rem;
            height: 70px;
          }

          p {
            font-size: 1rem;
            line-height: 1.4rem;
            margin-top: 1rem;
          }
        }

    }
  }

}

.contact {
    p {
      font-size: 0.8rem;
    }

    .form-checkbox label:after {
      width: 16px;
    }

    .form-check-label {
      font-size: 0.5rem;
    }
}


.btn-pmu {
    font-size: 1.2rem;
    height: 45px;
}

}
