.container-sections {

    .section-header {
        display: flex;
        flex-direction: row;
        .title-section {
          flex-basis: 80%;
        }

        .actions-section {
          margin-left: auto;

          i {
              font-size: 1.2rem;
              margin-left: 10px;
          }

          .edit-section, .remove-section {
            cursor: pointer;
          }

          .move-section {
            cursor: move;
          }
        }
    }
}

.container-plate-preview {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 30px;

  figure {
    width: 100px;
    text-align: center;
    margin: 10px;

    i {
      background: #eee;
      height: 90px;
      width: 90px;
      padding-top: 30px;
      border-radius: 5px;
    }

  }

  .plate-preview-text {
    margin: 10px;
    width: 100%;
    h4 {
      margin-top: 5px;
      font-size: 1.4rem;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
      font-weight: normal;
      color: #CCCCCC;
      margin-bottom: 0;
    }
  }

  .plate-preview-price {
      margin: 15px;
      font-size: 1.4rem;
      width: 100px;

  }

  .plate-preview-actions {
    background-color: #CCCCCC;
    width: 75px;
    display: flex;
    flex-direction: column;

    .plate-action-icon {
      flex-basis: 50%;
      text-align: center;
      font-size: 17px;

      i {
        margin: 20px;
        color: #FFFFFF;
      }
    }

    .plate-move {
      cursor: move;
    }

    .plate-edit {
      cursor: pointer;
    }

  }

}

.select-product {
    cursor: pointer;
    border: 1px solid $base-blue-light-color;
    margin: 10px;

    .plate-preview-text {
      margin: 0;
      padding-bottom: 10px;
    }
    input {
      opacity: 0;
    }
    color: #ccc;
    p {
      color: inherit;
    }
    h5 {
      color: inherit;
    }
}
.select-product.selected {
    border: 1px solid $base-blue-dark-color;
    background-color: $base-blue-light-color;
    color: $base-blue-dark-color;
    p {
      color: inherit;
    }
    h5 {

      color: inherit;
    }
}
