.modal-media {
    max-width: 90vw !important;
    height: 90vh !important;

  .modal-content {
    height: 100%;
  }
}
.media-container {
    background: #fff;
    display: flex;
    flex-flow: row wrap;
    height: 100%;

      &-header {
          background: white;
          flex: 100%;


      }
      &-body {
          background: white;
          flex: 75%;
          height: calc(100% - 250px);

          figure  {

              text-align: center;
              margin: 10px 5px;
              img {
                border: 2px solid $base-blue-light-color;
                padding: 5px;
                max-width: 200px;
              }
              img:hover {
                border: 2px solid $base-blue-light-color;
                cursor: pointer;
                padding: 3px;
              }
              img.active {
                border: 2px solid $base-blue-color;
                padding: 3px;
              }

              label {
                display: block;
              }

          }

      }
      &-side {
          background: white;
          flex: 25%;
          height: calc(100% - 250px);

          .preview-image {
            display: none;
          }
      }
      &-footer {
          background: white;
          border-top: 1px solid $base-blue-color;
          flex: 100%;
          height: 100px;
      }
}

.add-image-container, .edit-image-container {
    display: none;
}
