.modal-full {
    width: 90vw !important;
    min-height: 90vh !important;
    max-width: 1440px;
  .modal-content {
    min-height: 90%;
  }
}

.modal-footer .btn-block+.btn-block {
    margin-top: 0;
}
.media-container {
    background: #fff;
    display: flex;
    flex-flow: row wrap;
    height: 100%;

      &-header {
          background: white;
          flex: 100%;


      }
      &-body {
          background: white;
          flex: 75%;
          height: calc(100% - 250px);
          max-height: 700px;
          overflow: auto;
          figure  {

              text-align: center;
              margin: 10px 5px;
              .view-file-container {
                height: 80px;
              }
              img {
                border: 2px solid $base-blue-light-color;
                padding: 5px;
                max-width: 240px;
              }
              img:hover {
                border: 2px solid $base-blue-light-color;
                cursor: pointer;
                padding: 3px;
              }
              img.active {
                border: 2px solid $base-blue-color;
                padding: 3px;
              }

              label {
                display: block;
                width: 220px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

          }

      }
      &-side {
          background: white;
          flex: 25%;
          height: calc(100% - 250px);

          .preview-image {
            display: none;
          }
      }
      &-footer {
          background: white;
          border-top: 1px solid $base-blue-color;
          flex: 100%;
          height: 100px;
      }
}

.add-image-container, .edit-image-container {
    display: none;
}
