figure {

    img {
        width: 100%;
    }

}

.edit-view {
    font-size: 15px;

    .fa-edit {
      color: inherit;
      vertical-align: top;
    }
}

.btn-group-xl>.btn, .btn-xl {
  padding: 27px 35px !important;
  font-size: 18px;
}
